################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyOwnList/FileContentIndex/15825222-3f39-4d33-b587-e19f64bf2786.vsidx
