################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyOwnList/FileContentIndex/15825222-3f39-4d33-b587-e19f64bf2786.vsidx
/.vs/MyOwnList/FileContentIndex/d4a2ec60-33e9-4703-b5bd-877812e3c3fb.vsidx
