################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyOwnList/FileContentIndex/15825222-3f39-4d33-b587-e19f64bf2786.vsidx
/.vs/MyOwnList/FileContentIndex/d4a2ec60-33e9-4703-b5bd-877812e3c3fb.vsidx
/.vs/MyOwnList/FileContentIndex/906da290-df23-4815-b9ac-c2f75a5182b7.vsidx
/.vs/MyOwnList/FileContentIndex/ca1449f6-2046-4fb8-bad7-466fc954caab.vsidx
/.vs/MyOwnList/FileContentIndex/7c5abe51-5985-4ddc-9a34-fb26bdc17c87.vsidx
/.vs/MyOwnList/FileContentIndex/bcd9d47a-ce87-4c01-be7c-a76ad24410c2.vsidx
